<!DOCTYPE html  />
<html lang="en-us">

<head>
    <script async src="https://www.googletagmanager.com/ns.html?id=GTM-KXGKQ9M"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-D04435B5VR');
    </script>
    <base href="../">
    <meta charset="utf-8">
    <link rel="icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <meta property="og:title" content="BUSDRoyal">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bnbroyal.io/busd">
    <meta property="og:image" content="https://bnbroyal.io/img/banner.png">
    <meta property="og:description" content="Invest & Earn BUSD up to 10% daily!">
    <style>
        body:not(.loaded) {
            visibility: hidden
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Source+Sans+Pro:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css?v=11272021">
    <title>BUSD Royal</title>
</head>

<body>

    <div id="root">

        <div class="header">
            <div class="wrapped">
                <img src="img/hero-icon.png" @click="goHome">
                <h1 @click="goHome">BNB<span>Royal</span></h1>
                <button @click="connectWallet">{{user.address==""?"connect wallet":cleanText(user.address)}}</button>
            </div>
        </div>

        <div class="header" v-if="current_time < launch_date">
            <div class="wrapped">
                <h1>Starting in: {{time_left.hours}}h {{time_left.minutes}}m {{time_left.seconds}}s</h1>
            </div>
        </div>

        <div class="content">
            <div class="wrapped subfarms">
                <a href="./">
                <img src="img/icon-bnb.png">
                BNB Royal
                <span>
                    <span>TVL: <span bnb>{{format(farms.bnb, 2)}}</span></span>
                </span>
            </a>
                <a href="./busd" class="active">
                <img src="img/icon-busd.png">
                BUSD Royal
                <span>
                    <span>TVL: <span busd>1.51K</span></span>
                </span>
            </a>
                <a href="./cake">
                <img src="img/icon-cake.png">
                CAKE Royal
                <span>
                    <span>TVL: <span cake>{{format(farms.cake, 2)}}</span></span>
                </span>
            </a>
                <a href="./lt">
                <img src="img/icon-busd2.png">
                BUSD LT
                <span>
                    <span>TVL: <span busd>{{prettifyAmount(farms.busd2)}}</span></span>
                </span>
            </a>

            </div>
            <div class="wrapped">
                <div class="side">
                    <div class="inverted">
                        <sub>TOTAL INVESTED VOLUME</sub>
                        <div busd>{{format(dapp.totalInvested, 2)}}</div>
                    </div>
                    <div class="inverted">
                        <sub>TOTAL REFERRAL REWARDS</sub>
                        <div busd>{{format(dapp.totalBonus, 2)}}</div>
                    </div>
                    <div class="links">
                        <h2>quick links</h2>
                        <a href="https://bscscan.com/address/0xD3981cE564E331C8e34B95246415f3F3e29a0b8B#code" target="_blank">verified contract (BUSD)</a>
                        <a href="https://docs.bnbroyal.io" target="_blank">docs</a>
                        <a href="https://t.me/bnbroyalofficial" target="_blank">telegram group</a>
                        <a href="https://hazecrypto.net/audit/bnbroyal/" target="_blank">audit report</a>
                    </div>
                    <div class="whale">
                        <h2>restrictions</h2>
                        <p>
                            Claim: <b>every 4 hours</b><br> Max Claim: <b busd>2,000</b><br> Excess dividends are sent back to the user's account available for the next withdrawal.
                        </p>
                    </div>
                    <div>
                        <h2>read before use</h2>
                        <p>Investments cannot be withdrawn. The only return users can get are daily returns and referral rewards.</p>
                    </div>
                    <div class="">
                        <sub>CONTRACT BALANCE</sub>
                        <div busd>1514.23</div>
                        <hr>
                        <sub>LAUNCH DATE</sub>
                        <div>{{formatDate(_launch_date)}}</div>
                    </div>

                    <div class="footer">
                        bnbroyal.io &copy; 2021 &middot; project fee: 8%
                    </div>
                </div>
                <div class="main">
                    <div class="account inverted _busd">
                        <h2>your account</h2>
                        <!--sub>Wallet: {{cleanText(user.address)}}</sub-->
                        <div>
                            <div>
                                <div>wallet balance:</div>
                                <div busd>{{format(user.balance, 2)}}</div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div>
                                <div>busd to claim</div>
                                <div busd>{{format(user.available, 4)}}</div>
                                <button @click="withdraw" :class="{disabled:current_time<user.checkpoint+constants.WITHDRAW_COOLDOWN}">claim</button>
                                <div style="margin-top: 5px" v-if="user.checkpoint > 0 && current_time < user.checkpoint + constants.WITHDRAW_COOLDOWN">Available in {{countdown(user.checkpoint+constants.WITHDRAW_COOLDOWN, 1)}}</div>
                            </div>
                            <div>
                                <div>total investment</div>
                                <div busd>{{format(user.invested, 2)}}</div>
                                <button tabindex=4 @click="overlay.history=1" id="invest">history</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2>invest busd</h2>
                        <div class="planlist">
                            <div>
                                <input type="radio" name="planpick" id="plan1" value="0" v-model="val.plan" v-bind:checked="val.plan==0">
                                <label for="plan1">
                                <h4>Plan 1</h4>
                                <div>
                                    <div>
                                        <div>Days</div><div>30</div>
                                    </div>
                                    <div>
                                        <div>Daily</div><div>7%</div>
                                    </div>
                                    <div>
                                        <div>Total</div><div>210%</div>
                                    </div>
                                </div>
                            </label>
                                <input type="radio" name="planpick" id="plan2" value="1" v-model="val.plan" v-bind:checked="val.plan==1">
                                <label for="plan2">
                                <h4>Plan 2</h4>
                                <div>
                                    <div>
                                        <div>Days</div><div>20</div>
                                    </div>
                                    <div>
                                        <div>Daily</div><div>8%</div>
                                    </div>
                                    <div>
                                        <div>Total</div><div>160%</div>
                                    </div>
                                </div>
                            </label>
                            </div>
                            <div>
                                <input type="radio" name="planpick" id="plan3" value="2" v-model="val.plan" v-bind:checked="val.plan==2">
                                <label for="plan3">
                                <h4>Plan 3</h4>
                                <div>
                                    <div>
                                        <div>Days</div><div>15</div>
                                    </div>
                                    <div>
                                        <div>Daily</div><div>9%</div>
                                    </div>
                                    <div>
                                        <div>Total</div><div>135%</div>
                                    </div>
                                </div>
                            </label>
                                <input type="radio" name="planpick" id="plan4" value="3" v-model="val.plan" v-bind:checked="val.plan==3">
                                <label for="plan4">
                                <h4>Plan 4</h4>
                                <div>
                                    <div>
                                        <div>Days</div><div>12</div>
                                    </div>
                                    <div>
                                        <div>Daily</div><div>10%</div>
                                    </div>
                                    <div>
                                        <div>Total</div><div>120%</div>
                                    </div>
                                </div>
                            </label>
                            </div>
                        </div>
                        <div class="form">
                            <p>Minimum: <span busd>50</span></p>
                            <input type="number" placeholder="50 BUSD" v-model="val.invest" v-if="user.allowance > 0">
                            <button @click="invest">{{0 >= user.allowance ? "approve":"invest"}}</button>
                            <sub v-if="user.allowance <= 0"><br>Approve contract to enable deposits.</sub>
                        </div>
                    </div>
                    <div>
                        <h2>referral program</h2>
                        <sub>Invest atleast <u>once</u> to receive referral rewards!</sub>
                        <br>
                        <sub>Without any investments, referral rewards are forfeited.</sub>
                        <br>
                        <br>
                        <div class="reflist">
                            <div>
                                <div>level 1</div>
                                <div>5%</div>
                            </div>
                            <div>
                                <div>level 2</div>
                                <div>3%</div>
                            </div>
                            <div>
                                <div>level 3</div>
                                <div>2%</div>
                            </div>
                        </div>
                        <hr>
                        <div class="refinfo">
                            <div>
                                <div>unclaimed rewards</div>
                                <div busd>{{format(user.bonus, 2)}}</div>
                            </div>
                        </div>
                        <div class="reflink">
                            <p>Your Referral Link:</p>
                            <div>https://bnbroyal.io/busd?ref={{user.address}}</div>
                            <button @click="copyRef">copy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ads">
            <div class="wrapped">
                <a href="https://hazecrypto.net/audit/bnbroyal/" target="_blank">
                <img src="img/logo-hazecrypto.png">
            </a>
                <a href="https://www.dapp.com/app/bnb-royal" target="_blank">
                <img src="img/logo-dappcom.png">
            </a>
                <a href="https://dappradar.com/binance-smart-chain/high-risk/bnbroyal" target="_blank">
                <img src="img/logo-dappradar.png">
            </a>
            </div>
        </div>


        <div class="loader overlay" v-bind:class="{active:overlay.approve}">
            <div>
                <h6>Approving</h6>
                <img src="img/hero-icon.png">
            </div>
        </div>

        <div class="loader overlay" v-bind:class="{active:overlay.invest}">
            <div>
                <h6>Depositing</h6>
                <img src="img/hero-icon.png">
            </div>
        </div>

        <div class="loader overlay" v-bind:class="{active:overlay.collect}">
            <div>
                <h6>Claiming</h6>
                <img src="img/hero-icon.png">
            </div>
        </div>

        <div class="history overlay" v-bind:class="{active:overlay.history}" @click="overlay.history=0">
            <div v-on:click.stop>
                <span class="btn-close" @click="overlay.history=0"><svg viewBox="0 0 24 24" width="24" height="24" style="fill: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.293 6.293a1 1 0 011.414 0L12 10.586l4.293-4.293a1 1 0 111.414 1.414L13.414 12l4.293 4.293a1 1 0 01-1.414 1.414L12 13.414l-4.293 4.293a1 1 0 01-1.414-1.414L10.586 12 6.293 7.707a1 1 0 010-1.414z" fill=""></path></svg></span>
                <h4>History</h4>
                <div>
                    <div>
                        <div>Date</div>
                        <div>Plan</div>
                        <div>Amount</div>
                    </div>
                    <div v-for="dep, index in user.deposits.slice().reverse()">
                        <div>{{formatDate(dep.start)}}</div>
                        <div>{{parseInt(dep.plan) + 1}}</div>
                        <div>{{format(parseWei(dep.amount))}} BUSD</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>Total Investment</div>
                        <div>Total Withdrawn</div>
                        <div>Total Referrals</div>
                    </div>
                    <div>
                        <div>{{format(user.invested)}} BUSD</div>
                        <div>{{format(user.withdrawn)}} BUSD</div>
                        <div>{{format(user.totalBonus)}} BUSD</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="loader overlay" v-bind:class="{active:overlay.historyLoad}">
            <div>
                <img src="img/hero-icon.png">
            </div>
        </div>

        <div class="loader overlay copy" v-bind:class="{active:overlay.copied}" @click="overlay.copied=0">
            <div>
                <h6>Ref Copied</h6>
                <img src="img/check.png" style="animation: none">
            </div>
        </div>


    </div>

    <script src="js/abi.contract.bnb.js"></script>
    <script src="js/abi.contract.busd.js"></script>
    <script src="js/abi.contract.busd2.js"></script>
    <script src="js/abi.contract.cake.js"></script>
    <script src="js/abi.token.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/web3m.min.js"></script>
    <script src="js/evm.min.js"></script>
    <script src="js/walletconnect.min.js"></script>
    <script type="text/javascript">
        var _farm = "busd";
        var _min_invest = 50;
        var _withdraw_cooldown = 4 * 60 * 60000;
        var _launch_date = 1637164800000; /* 11 17 2021 4PM GMT */
    </script>
    <script src="js/app.js?v=idiots"></script>

</body>

</html>